body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
}
main{
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.0rem;
  padding: 0.1rem 0;
}

.link{
  text-decoration: none;
  margin-left: 10px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carsoual{
  background: linear-gradient(45deg, #2ED153 0% , #B6A0A7 100%);
  display: flex;
  justify-content: center;
  width:100%;
  flex-direction: column-reverse;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2  {

  margin-top: 5rem;
  color: #000;
  z-index: 100;
  transform: skewY(-2deg);
  background: #2ED153;
}

.carousel img {
  height: 500px;
  width: 100%;
}
.carousel a {
  margin: 0 auto;
}

/* searchbox */
.searchbox{
  padding-left: 4rem;
}
#search-box{
  margin-right: 0 !important;
  padding-left: 6rem;
}

.input-box{
  border-radius: 5px 0 0 5px !important;
}

.searchbox button{
  border-radius: 0 5px 5px 0;
  margin-left: 0 !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

#basic-navbar-nav{
  color:black;
}



#wrapper {
  display: flex !important;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
  padding:0;
  margin: 0;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}

.dash-sidebar {
  width: 14rem !important;
  min-height: 100vh;
  background: #233240;
  z-index: 1;
}
hr.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.sidebar-brand{
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  color:wheat;
  font-size: 1rem;
  height: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.nav-item .nav-link {
  display: block;
  color: #fff !important;
  width: 100%;
  text-align: left;
  padding: 0 !important;
}

.dash-navbar-nav{
  padding-right: 5rem;
}
.nav-item .nav-link i {
  font-size: 0.85rem;
  margin-right: 0.25rem;
}
.meyou{
  padding: 0;
  margin: 0;
}
.topbar {
  height: 2.4rem;
}
.img-profile{
  width:2.5rem;
  height: 1.5rem;;
}

.dropdown-toggle::after{
  border: none !important;
}

.chart-area {
  position: relative;
  height: 10rem;
  width: 100%;
}

.border-left-success {
  border-left: 0.25rem solid #233240!important;
}

.border-left-primary{
  border-left: 00.25rem solid #1cc88a!important;
}

.border-left-info{
  border-left: 0.25rem solid #36b9cc!important
}

.border-left-warning {
  border-left: 0.25rem solid #f6c23e!important;
}